.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.active {
    background-color: $yellow;
    border-color: $yellow;
    &:hover {
        background-color: $yellow;
        color: $white;
        cursor: not-allowed;
    }
}

.router-tittle {
    height: 100px;
    padding: 29px 60px;
    font-size: 14px;
    background-color: $grey;
}
@media only screen and (max-width: 769px) { 
    .router-tittle {
        height: 80px;
        font-size: 11px;
        padding: 23px 21px;

    }

}
@media only screen and (max-width: 700px) { 
    .router-tittle {
        h1 {
            display: none;
        }
    }

}